
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

html, body {
  margin: 0;
  padding: 0;
  position: relative;

}
canvas {
  display: block;
}

h1{
  /*margin-left: 4%;*/
  font-family: 'Amatic SC', cursive;
  text-align: center;
    font-size: 46px;
}

h2{

  font-family: 'Amatic SC', cursive;
  text-align: center;
  font-size: 40px;
}

h3{

  font-family: 'Amatic SC', cursive;
  font-size: 20px;
  margin-left: 4%;
  z-index: 1;
  color: black;

}

.mainDiv {
    width: 100vw;
    overflow: hidden;
    background-color:black;
    border: 2px solid white;
}

.g {
    height: 20vh;
}

.p {
    height: 10vh;
}

#titulo {
    background-image: url("img/titulo.png");
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#slider1 {
    background-image: url("img/Slider1.png");
    background-size: 100% 100%;
}

#slider2 {
    background-image: url("img/Slider2.png");
    background-size: 100% 100%;
}

#slider3 {
    background-image: url("img/Slider3.png");
    background-size: 100% 100%;
}

button {
  background: rgb(0,71,153);
  background: linear-gradient(90deg, rgba(0,71,153,1) 0%, rgba(19,105,205,1) 79%, rgba(38,138,255,1) 100%);
  
  font-family: 'Poppins', sans-serif;
  font-size: 60px;
  color: white;
  border: 2px solid #346eeb;
  width: 100%;
  height: 100%;
}

button:hover {
  background-color: #6897fc;
  color: white;
}

/* Slider */
input[type="range"] {
    margin: auto;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    height: auto;
    width: 100%;
    cursor: pointer;
    border-radius: 0; /* iOS */
    background: none;
}

::-webkit-slider-runnable-track {
    background: none;
}

/*
 * 1. Set to 0 width and remove border for a slider without a thumb
 */
::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0%; /* 1 */
    height: 10vh;
    background: black;
    box-shadow: -100vw 0 0 100vw rgba(41, 171, 226, 27);
    opacity: 40%;

}

::-moz-range-track {
    height: 40px;
    background: #ddd;
}

::-moz-range-thumb {
    background: none;
    height: 40px;
    width: 20px;
    border: 3px solid #999;
    border-radius: 0 !important;
    box-shadow: -100vw 0 0 100vw dodgerblue;
    box-sizing: border-box;
}

::-ms-fill-lower {
    background: #29ABE2;
    opacity: 27%;
}

::-ms-thumb {
    background: none;
    border: 2px solid #999;
    height: 40px;
    width: 20px;
    box-sizing: border-box;
}

::-ms-ticks-after {
    display: none;
}

::-ms-ticks-before {
    display: none;
}

::-ms-track {
    background: none;
    color: transparent;
    height: 40px;
    border: none;
}

::-ms-tooltip {
    display: none;
}

.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10vw;
  height: 15vh;
  /*border-radius: 50%;*/
  background: none;
  cursor: pointer;
}

.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}
